<h1 id="events" class="page-header">Events Emitted</h1>
<p class="lead">
    The base service exposes certain events which may be listened to, captured and acted upon.
    There are part of the <code>ngLocalize.Events</code> module
    which must first be injected as a dependency either at the application-level or in your controller/services enclosing module.
    Since these are emitted by <code>$rootScope</code> they are available to all descendent <code>$scopes</code> in controllers, services and/or directives.
</p>

<h3 id="events-updates">On Resource Updates</h3>
<p>You must listen for <code>localeEvents.resourceUpdates</code>.</p>

<div class="highlight">
<pre><code class="js"><span class="nx">angular.module</span><span class="p">(</span><span class="nb"><span class="s1">&#39;docs.demo.myModule&#39;</span></span>, <span class="p">[</span><span class="nb"><span class="s1">&#39;ngLocalize.Events&#39;</span></span><span class="p">])</span>
    <span class="nx">.controller</span><span class="p">(</span><span class="nb"><span class="s1">&#39;demoControl&#39;</span></span>, <span class="p">[</span><span class="nb"><span class="s1">&#39;localeVersion&#39;</span></span>,
        <span class="nb">function</span><span class="p">() {</span>
            <span class="nx">$scope.$on</span><span class="p">(</span><span class="nb"><span class="nb">localeEvents.resourceUpdates</span>, <span class="kd">function</span> </span><span class="p">() {</span>
                <span class="nx">console.info<span class="p">(</span><span class="s1">&#39;ngLocalize: A resource was recently updated.&#39;</span><span class="p">)</span></span>
            <span class="p">});</span>
        <span class="p">}</span>
    <span class="p">]);</span></code></pre>
</div>

<h3 id="events-changes">On Locale Changes</h3>
<p>Triggered by <code>localeEvents.localeChanges</code>.</p>

<div class="highlight">
<pre><code class="js"><span class="nx">angular.module</span><span class="p">(</span><span class="nb"><span class="s1">&#39;docs.demo.yetAnotherModule&#39;</span></span>, <span class="p">[</span><span class="nb"><span class="s1">&#39;ngLocalize.Events&#39;</span></span><span class="p">])</span>
    <span class="nx">.controller</span><span class="p">(</span><span class="nb"><span class="s1">&#39;docsControl&#39;</span></span>, <span class="p">[</span><span class="nb"><span class="s1">&#39;localeVersion&#39;</span></span>,
        <span class="nb">function</span><span class="p">() {</span>
            <span class="nx">$scope.$on</span><span class="p">(</span><span class="nb"><span class="nb">localeEvents.localeChanges</span>, <span class="kd">function</span> </span><span class="p">(</span><span class="nb">newLocale</span><span class="p">) {</span>
                <span class="nx">console.info<span class="p">(</span><span class="s1">&#39;ngLocalize: Locale Changed to &#39;</span>  <span class="nx">+ newLocale</span><span class="p">)</span></span>
            <span class="p">});</span>
        <span class="p">}</span>
    <span class="p">]);</span></code></pre>
</div>
