<footer class="bs-docs-footer" role="contentinfo" data-ng-controller="FootControl">
    <div class="container">
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="shield-badge">
                    <a href="//travis-ci.org/#!/doshprompt/angular-localization" target="_blank">
                        <img src="//img.shields.io/travis/doshprompt/angular-localization.svg?style=flat">
                        <!-- <img src="//secure.travis-ci.org/doshprompt/angular-localization.svg?branch=master"> -->
                    </a>
                </li>
                <li class="shield-badge">
                    <a href="//bower.io/search/?q=angular-localization" target="_blank">
                        <img ng-src="//img.shields.io/badge/bower%20package-{{currentVersion}}-brightgreen.svg?style=flat">
                        <!-- <img src="//badge.fury.io/bo/angular-localization.svg" alt="Bower version"> -->
                    </a>
                </li>
                <li class="shield-badge">
                    <a href="//gittip.com/doshprompt" target="_blank">
                        <img src="//img.shields.io/gittip/doshprompt.svg?style=flat">
                    </a>
                </li>
                <li class="shield-badge">
                    <a href="//gitter.im/doshprompt/angular-localization" target="_blank">
                        <img src="//img.shields.io/badge/gitter-doshprompt%2Fangular--localization-brightgreen.svg?style=flat">
                    </a>
                </li>
            </ul>
        </div>

        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="github-btn">
                    <iframe
                        title="Star on GitHub" class="github-btn"
                        src="http://ghbtns.com/github-btn.html?user=doshprompt&amp;repo=angular-localization&amp;type=watch&amp;count=true"
                        width="100" height="20">
                    </iframe>
                </li>
                <li class="github-btn">
                    <iframe
                        title="Fork on GitHub" class="github-btn"
                        src="http://ghbtns.com/github-btn.html?user=doshprompt&amp;repo=angular-localization&amp;type=fork&amp;count=true"
                        width="100" height="20">
                    </iframe>
                </li>
                <li class="github-btn">
                    <iframe
                        title="Follow on GitHub" class="github-btn"
                        src="http://ghbtns.com/github-btn.html?user=doshprompt&amp;type=follow&amp;count=true"
                        width="165" height="20">
                    </iframe>
                </li>
                <li class="twitter-btn">
                    <a
                        href="https://twitter.com/share"
                        class="twitter-share-button"
                        data-url="http://bit.ly/angular-localization"
                        data-text="Check out #ngLocalize—a complete @angularjs localization module done right!"
                        data-via="doshprompt"
                        data-related="angularjs"
                        data-hashtags="angular,angularjs,i18n">
                        Tweet
                    </a>
                </li>
                <li class="google-btn">
                    <div
                        class="g-plusone" data-size="medium" data-annotation="bubble"
                        data-href="http://bit.ly/angular-localization">
                    </div>
                </li>
            </ul>
        </div>

        <p>Designed and built with all the love in the world by <a href="http://twitter.com/doshprompt" target="_blank">@doshprompt</a>.</p>
        <p>
            Code licensed under <a href="https://github.com/doshprompt/angular-localization/blob/master/LICENSE" target="_blank">MIT</a>,
            documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        </p>
        <ul class="bs-docs-footer-links muted">
            <li>Currently {{ currentVersion }}</li>
            <li>·</li>
            <li><a href="https://github.com/doshprompt/angular-localization">GitHub</a></li>
            <li>·</li>
            <li><a href="https://github.com/doshprompt/angular-localization/issues?state=open">Issues</a></li>
            <li>·</li>
            <li><a href="https://github.com/doshprompt/angular-localization/releases">Releases</a></li>
        </ul>
    </div>
</footer>
