<!-- Page content of course! -->
<main class="bs-docs-masthead" id="content" role="main" data-ng-controller="HeadControl">
    <span id="forkongithub"><a href="https://github.com/doshprompt/angular-localization">Fork me on GitHub</a></span>
    <div class="container">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">
            <span class="fa fa-globe fa-lg"></span>
        </span>
        <p class="lead">A complete AngularJS localization service with core service and accompanying filters, directives etc.</p>
        <p class="lead">
            <a
                href="//github.com/doshprompt/angular-localization#getting-started"
                class="btn btn-outline-inverse btn-lg">
                Download angular-localization
            </a>
        </p>
        <p class="version">Currently {{ currVersion }}</p>
  </div>
</main>

<!-- <div class="bs-docs-featurette">
    <div class="container">
        <h2 class="bs-docs-featurette-title">Site localization example using the <code>ngLocalize</code> module.</h2>
    </div>
</div> -->

<!-- Docs page layout -->
<!-- <div class="bs-docs-header" id="content">
    <div class="container">
        <h1>angular-localization</h1>
        <p>A complete AngularJS localization service with core service and accompanying filters, directives etc.</p>
    </div>
</div> -->