<div data-ng-include="'app/views/header.html'"></div>
<div class="container bs-docs-container" data-ng-controller="DemoControl">
    <div class="row">
        <div class="col-md-10" role="main">
            <!-- Quickstart
            ================================================== -->
            <div class="bs-docs-section" data-ng-include="'app/views/quickstart.html'"></div>

            <!-- i18n directive
            ================================================== -->
            <div class="bs-docs-section" data-ng-include="'app/views/i18nDirective.html'"></div>

            <!-- i18nAttr directive
            ================================================== -->
            <div class="bs-docs-section" data-ng-include="'app/views/i18nAttrDirective.html'"></div>

            <!-- locale service
            ================================================== -->
            <div class="bs-docs-section" data-ng-include="'app/views/localeService.html'"></div>

            <!-- i18n filter
            ================================================== -->
            <div class="bs-docs-section" data-ng-include="'app/views/i18nFilter.html'"></div>

            <!-- Using with ngPluralize
            ================================================== -->
            <div class="bs-docs-section">
                <h1 id="ngLocalize-ngPluralize">Using ngPluralize</h1>
                <p class="lead">Partially compatible with native ngPluralize directive.</p>

                <div class="highlight">
<pre><code class="js"><span class="nx">$scope.pluralization</span> <span class="o">=</span> <span class="p">{</span>
    <span class="nx">numCount:</span> <span class="s1">1</span>
<span class="p">};</span></code></pre>
                </div>

                <div class="bs-example">
                    <div class="form-group">
                        <input type="number" min="0" class="form-control" data-ng-model="pluralization.numCount" data-i18n-attr="{placeholder: 'demo.numberPrompt'}">
                    </div>
                    <div class="alert alert-warning">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span data-ng-pluralize data-count="pluralization.numCount" data-when="{ '0': '{{ pluralization.options.zero | i18n }}', '1': '{{ pluralization.options.one | i18n }}', 'other': '{{ pluralization.options.many | i18n }}' }"></span>
                    </div>
                </div>

                <div class="highlight">
<pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;number&quot;</span> <span class="na">min=</span><span class="s">&quot;0&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">data-ng-model=</span><span class="s">&quot;pluralization.numCount&quot;</span> <span class="na">data-i18n-attr=</span><span class="s">&quot;{placeholder: 'demo.numberPrompt'}&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;glyphicon glyphicon-question-sign&quot;</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">data-ng-pluralize</span> <span class="na">data-count=</span><span class="s">&quot;pluralization.numCount&quot;</span> <span class="na">data-when=</span><span class="s">&quot;{ '0': '<span>{{</span> pluralization.options.zero | i18n <span>}}</span>', '1': '<span>{{</span> pluralization.options.one | i18n <span>}}</span>', 'other': '<span>{{</span> pluralization.options.many | i18n <span>}}</span>' }&quot;</span> <span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
                </div>

                <div class="bs-callout bs-callout-warning">
                    <h4>Limitations</h4>
                    <p>
                        Full compatibility cannot be reached due to limitations of the ng-framework.
                        Right now it is impossible to place the <code>data-count</code> attribute anywhere in the resultant string.
                        There exists a known workaround using <code>$filter('i18n')</code> or <code>locale.getString()</code>
                        directly in your controller or else you could expose a <code>getPlurals()</code> function to the <code>ngPluralize</code> directive.
                        The newly created function should internally address the value of <code>count</code>.
                    </p>
                    <p>
                        This is somewhat wieldy and cumbersome as it requires you to track offsets manually,
                        the same can also be achieved thru the <code>i18n</code> directive albeit with one extra degree of complexity; the caveat being that of interpolation along with <code>$watchers</code> and/or <code>ng-bind</code>
                    </p>
                    <p>
                        In such situations it is good to note that <code>locale.ready()</code> is not mandatory as angular's page <code>$digest</code> cycle will fire periodically and take care of it for you.
                    </p>
                    <p>Also, strings may not be passed to the <code>i18n</code> filter(s) of the <code>ngPluralize</code> directive as is, in the markup.</p>
                </div>

                <div class="highlight">
<pre><code class="js"><span class="nx">$scope.pluralization</span> <span clas="o">=</span> <span class="p">{</span>
    <span class="nx">numCount:</span> <span class="s1">1</span>
    <span class="nx">options:</span> <span class="p">{</span>
        <span class="nx">zero:</span> <span class="s1">'plurals.zeroPluralized'</span>,
        <span class="nx">one: <span class="s1">'plurals.onePluralized'</span>,
        <span class="nx">many: <span class="s1">'plurals.manyPluralized'</span>
    <span class="p">},</span>
    <span class="nb">getPlural</span><span class="nb">:</span> <span class="kd">function</span> <span class="p">() {</span>
        <span class="kd">var</span> <span class="nx">n</span> <span class="o">=</span> <span class="nx">$scope.pluralization.numCount</span> <span class="p">,</span>
            <span class="nx">s</span><span class="p">;</span>
        <span class="k">switch</span> <span class="p">(</span><span class="nx">n</span><span class="p">) {</span>
        <span class="k">case</span> <span class="nb">null</span><span class="p">:</span>
        <span class="k">case</span> <span class="nb">undefined</span><span class="p">:</span>
        <span class="k">case</span> <span class="nb">0</span><span class="p">:</span>
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">$scope.pluralization.options.zero</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">case</span> <span class="nb">1</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="s1">&#39;plurals.onePluralizedNum::&#39;</span> <span class="p">+</span> <span class="nx">n</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">default</span><span class="p">:</span>
            <span class="nx">s</span> <span class="o">=</span> <span class="s1">&#39;plurals.manyPluralizedNum::&#39;</span> <span class="p">+</span> <span class="nx">n</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="p">}</span>
        <span class="kd">return</span> <span class="nx">s</span><span class="p">;</span>
    <span class="p">},</span>
    <span class="nb">getPlurals</span><span class="nb">:</span> <span class="kd">function</span> <span class="p">() {</span>
        <span class="kd">var</span> <span class="nx">n</span> <span class="o">=</span> <span class="nx">$scope.pluralization.numCount</span> <span class="p">,</span>
            <span class="nx">s</span><span class="p">;</span>
        <span class="k">switch</span> <span class="p">(</span><span class="nx">n</span><span class="p">) {</span>
        <span class="k">case</span> <span class="nb">null</span><span class="p">:</span>
        <span class="k">case</span> <span class="nb">undefined</span><span class="p">:</span>
            <span class="nx">s</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">case</span> <span class="nb">0</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">$filter</span><span class="p">(<span class="s1">&#39;i18n&#39;</span><span class="p">)</span><span class="p">(<span class="nx">$scope.pluralization.options.zero</span><span class="p">)</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">case</span> <span class="nb">1</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">$filter</span><span class="p">(<span class="s1">&#39;i18n&#39;</span><span class="p">)</span><span class="p">(<span class="s1">&#39;plurals.onePluralizedNum&#39;</span><span class="p">,</span> <span class="nx">n</span><span class="p">)</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">default</span><span class="p">:</span>
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">$filter</span><span class="p">(<span class="s1">&#39;i18n&#39;</span><span class="p">)</span><span class="p">(<span class="s1">&#39;plurals.ManyPluralizedNum&#39;</span><span class="p">,</span> <span class="nx">n</span><span class="p">)</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="p">}</span>
        <span class="kd">return</span> <span class="nx">s</span><span class="p">;</span>
    <span class="p">},</span>
    <span class="nb">getWithOffs</span><span class="nb">:</span> <span class="kd">function</span> <span class="p">() {</span>
        <span class="kd">var</span> <span class="nx">n</span> <span class="o">=</span> <span class="nx">$scope.pluralization.numCount</span> <span class="p">,</span>
            <span class="nx">s</span><span class="p">;</span>
        <span class="k">switch</span> <span class="p">(</span><span class="nx">n</span><span class="p">) {</span>
        <span class="k">case</span> <span class="nb">0</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">$scope.pluralization.options.zero</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">case</span> <span class="nb">1</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="s1">&#39;plurals.onePluralizedOfs&#39;</span><span class="p">;</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">case</span> <span class="nb">2</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">locale.getString</span><span class="p">(</span><span class="s1">&#39;plurals.twoPluralizedOfs&#39;</span><span class="p">,</span> <span class="nx">$scope.user.name</span><span class="p">);</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">case</span> <span class="nb">3</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">locale.getString</span><span class="p">(</span><span class="s1">&#39;plurals.threePluralizedOfs&#39;</span><span class="p">,</span> <span class="nx">$scope.user.name</span><span class="p">);</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="k">default</span>:
            <span class="nx">s</span> <span class="o">=</span> <span class="nx">locale.getString</span><span class="p">(</span><span class="s1">&#39;plurals.morePluralizedOfs&#39;</span><span class="p">,</span> <span class="p">[</span><span class="nx">$scope.user.name</span><span class="p">, (</span><span class="nx">n <span class="p">-</span> <span class="nx">2</span><span class="p">)]);</span>
            <span class="k">break</span><span class="p">;</span>
        <span class="p">}</span>
        <span class="kd">return</span> <span class="nx">s</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">};</span></code></pre>
                </div>

                <div class="bs-example">
                    <div class="form-group">
                        <input type="number" min="0" class="form-control" data-ng-model="pluralization.numCount" data-i18n-attr="{placeholder: 'demo.numberPrompt'}">
                    </div>
                    <div class="alert alert-warning">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span data-i18n="{{ pluralization.getPlural() }}"></span>
                    </div>
                    <div class="alert alert-warning">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span data-ng-bind="pluralization.getPlurals()"></span>
                    </div>
                    <div class="alert alert-warning">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <ng-pluralize data-count="pluralization.numCount" data-offset="2" data-when="{ '0': '{{ pluralization.getWithOffs() | i18n }}', '1': '{{ pluralization.getWithOffs() | i18n }}', '2': '{{ pluralization.getWithOffs() }}', 'one': '{{ pluralization.getWithOffs() }}', 'other': '{{ pluralization.getWithOffs() }}' }"></ng-pluralize>
                    </div>
                </div>

                <div class="highlight">
<pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;number&quot;</span> <span class="na">min=</span><span class="s">&quot;0&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">data-ng-model=</span><span class="s">&quot;pluralization.numCount&quot;</span> <span class="na">data-i18n-attr=</span><span class="s">&quot;{placeholder: 'demo.numberPrompt'}&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;glyphicon glyphicon-warning-sign&quot;</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">data-i18n=</span><span class="s">&quot;<span>{{</span> pluralization.getPlural() <span>}}</span>&quot;</span><span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;glyphicon glyphicon-warning-sign&quot;</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">data-ng-bind=</span><span class="s">&quot;pluralization.getPlurals()&quot;</span><span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;alert alert-warning&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;glyphicon glyphicon-question-sign&quot;</span><span class="nt">&gt;</span><span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;ng-pluralize</span> <span class="na">data-count=</span><span class="s">&quot;pluralization.numCount&quot;</span> <span class="na">data-offset=</span><span class="s">&quot;2&quot;</span> <span class="na">data-when=</span><span class="s">&quot;{ '0': '<span>{{</span> pluralization.getWithOffs() | i18n <span>}}</span>', '1': '<span>{{</span> pluralization.getWithOffs() | i18n <span>}}</span>', '2': '<span>{{</span> pluralization.getWithOffs() <span>}}</span>', 'one': '<span>{{</span> pluralization.getWithOffs() <span>}}</span>', 'other': '<span>{{</span> pluralization.getWithOffs() <span>}}</span>' }&quot;</span> <span class="nt">&gt;</span><span class="nt">&lt;/ng-pluralize&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre>
                </div>
            </div>

            <!-- Events Emitted
            ================================================== -->
            <div class="bs-docs-section" data-ng-include="'app/views/eventsEmitted.html'"></div>

            <!-- Custom Configuration
            ================================================== -->
            <div class="bs-docs-section" data-ng-include="'app/views/configurations.html'"></div>
        </div>

        <div class="col-md-2 hidden-sm">
            <div data-ng-include="'app/views/sidebar.html'"></div>
        </div>
    </div>
</div>