<h1 id="quickstart" class="page-header">Quickstart</h1>
<p class="lead">
    The easiest way to install the ngLocalize module is via <a href="http://bower.io/">Bower</a>
</p>

<div class="highlight">
    <pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>bower install angular-localization --save</code></pre>
</div>

<p>
    Two alternative options are available:
</p>

<ul>
    <li>
        <a href="https://github.com/doshprompt/angular-localization/archive/master.zip">Download the latest release</a>.
    </li>
    <li>
        Clone the repo: <a href="https://github.com/doshprompt/angular-localization.git">git clone https://github.com/doshprompt/angular-localization.git</a>.
    </li>
</ul>

<p>
    You can then include angular-localization after its dependencies, angular and angular-cookies:
</p>

<div class="highlight">
<pre>
<code class="html"><span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"bower_components/angular/angular.js"</span>&gt;<span class="nt">&lt;/script&gt;</span>
<span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"bower_components/angular-cookies/angular-cookies.js"</span>&gt;<span class="nt">&lt;/script&gt;</span>
<span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"bower_components/angular-sanitize/angular-sanitize.js"</span>&gt;<span class="nt">&lt;/script&gt;</span>
<span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"bower_components/angular-localization/angular-localization.js"</span>&gt;<span class="nt">&lt;/script&gt;</span></code>
</pre>
</div>
