<div
    class="bs-docs-sidebar hidden-print"
    role="complementary"
    data-bs-affix data-offset="-50"
    data-data-bs-scrollspy-list data-offset-top="-50">
    <ul class="nav bs-docs-sidenav">
        <li data-target="#quickstart" data-bs-scrollspy>
            <a href="##quickstart">Quickstart</a>
        </li>
        <li data-target="#i18nDirective" data-bs-scrollspy>
            <a href="##i18nDirective">i18n Directive</a>
            <ul class="nav">
                <li data-target="#i18nDirective-basic" data-bs-scrollspy>
                    <a href="##i18nDirective-basic">Basic Example</a>
                </li>
                <li data-target="#i18nDirective-dynamic" data-bs-scrollspy>
                    <a href="##i18nDirective-dynamic">Dynamic User Data</a>
                </li>
            </ul>
        </li>
        <li data-target="#i18nAttrDirective" data-bs-scrollspy>
            <a href="##i18nAttrDirective">i18nAttr Directive</a>
            <ul class="nav">
                <li data-target="#i18nDirective-inputs" data-bs-scrollspy>
                    <a href="##i18nAttrDirective-inputs">Input Placeholders</a>
                </li>
            </ul>
        </li>
        <li data-target="#localeService" data-bs-scrollspy>
            <a href="##localeService">locale Service</a>
        </li>
        <li data-target="#i18nFilter" data-bs-scrollspy>
            <a href="##i18nFilter">i18n Filter</a>
            <ul class="nav">
                <li data-target="#i18nFilter-simple" data-bs-scrollspy>
                    <a href="##i18nFilter-simple">Simple Example</a>
                </li>
                <li data-target="#i18nFilter-args" data-bs-scrollspy>
                    <a href="##i18nFilter-args">Parameterized Arguments</a>
                </li>
                <li data-target="#i18nFilter-special" data-bs-scrollspy>
                    <a href="##i18nFilter-special">Special Use-case(s)</a>
                </li>
            </ul>
        </li>
        <li data-target="#ngLocalize-ngPluralize" data-bs-scrollspy>
            <a href="##ngLocalize-ngPluralize">Using ngPluralize</a>
        </li>
        <li data-target="#events" data-bs-scrollspy>
            <a href="##events">Emitted Events</a>
        </li>
        <li data-target="#config" data-bs-scrollspy>
            <a href="##config">Custom Configuration</a>
        </li>
    </ul>
    <a class="back-to-top" href="#">
        Back to top
    </a>
</div>